.filter {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 2rem;
}

.main-container {
  display: grid;
  grid-gap: 4rem;
}

/* input,
select {
  border: 1px solid var(--transparent);
  border-top: 1px solid var(--black);
  border-radius: 0;
  height: 2rem;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-top: 1rem;
  margin-top: ;
} */

input {
  padding: 1rem;
}

form {
  max-width: 300px;
}

form div {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
}

select::-ms-expand {
  display: none;
}
