.filter {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  width: 100%;
  align-items: flex-start;
}

.filter-term{
  color: var(--orange);
  font-size: 11pt;
  letter-spacing: 1px;
}

#search {
  grid-column: 1 / span 2;
}

#submit {
  align-items: flex-end;
}

.main-container {
  display: grid;
  grid-gap: 4rem;
}

form div {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
}

select::-ms-expand {
  display: none;
}
