.filter {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 2rem;
  width: 100%;
  align-items: flex-start;
}

@media (min-width: 900px) {
  .filter { grid-template-columns: repeat(5, 1fr); }
}

.filter-term{
  color: var(--orange);
  font-size: 11pt;
  letter-spacing: 1px;
}

#search {
  grid-column: 1 / span 2;
}

#submit {
  align-items: flex-end;
}

form div {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 1rem;
}

select::-ms-expand {
  display: none;
}

body {
  background-image: url("../uploads/branding/Background_final.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.surprise{
  font-size: 20pt;
  margin:auto;
}

a.surprisebutton{
  color:var(--orange);
}

a.surprisebutton:hover{
  color:var(--yellow);
}
