/* november 8 */

:root {
  --transparent: #fff0;
  --yellow: #fed330;
  --yellow-20pct: #fed33033;
  --hover-grey: #999999;
  --orange: #ff5800;
  --orange-20pct: #ff580033;

  /* light mode styles */
  --black: #000;
  --white: #fff;
  --lightgrey: #f6f6f6;
  --grey: #e7e7e7;
  --link: #0066cc;

  /* fonts */
  --headline: "Helvetica";
  --bodycopy: "Helvetica";
  --bold: 800;
  --regular: 400;

  /* other */
  --borderradius: 0.6rem;
}

.gap-2rem {
  display: grid;
  grid-gap: 2rem;
}

.gap-4rem {
  display: grid;
  grid-gap: 4rem;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNowDisplay-Bold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNowDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
}

h1,
h2 {
  font-family: var(--headline), sans-serif, Arial;
  font-weight: var(--bold);
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  margin: 0;
  color: var(--black);
  letter-spacing: -0.02em;
  line-height: 1em;
}

h2 {
  font-size: 16px;
}

p,
a,
select,
option,
input,
button,
::placeholder {
  font-family: var(--headline), sans-serif, Arial;
  font-weight: var(--regular);
  font-style: normal;
  margin: 0;
  color: var(--black);
  letter-spacing: -0em;
}

p {
  line-height: 1.4em;
}

option {
  background-color: transparent;
}

a:link,
a:visited {
  text-decoration: none;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid var(--transparent);
  display: inline-block;
}

a.link {
  border-bottom: 1px solid var(--black);
}

/* general */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100%;
  min-height: 400px;
  overflow-x: hidden;
  margin: 0;
  opacity: 1;
  transition: 1s opacity;
  scroll-behavior: smooth;
}

body {
  padding: 0 4rem;
  background-image: url("../uploads/branding/Background_final.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.root {
  max-width: 1440px;
  margin: 0 auto;
}

.root.small {
  max-width: 768px;
  margin: 0 auto;
}

.main-container {
  display: grid;
  grid-gap: 4rem;
  padding: 4rem 0;
}

/* buttons */

input,
select,
button {
  border: 1px solid var(--grey);
  border-radius: 6px;
  width: 100%;
  height: 3.6rem;
  padding: 1rem;
}

select,
button,
input[type="submit"] {
  appearance: none;
  cursor: pointer;
}

button,
input[type="submit"] {
  background-color: var(--lightgrey);
}

input[type='submit']:hover {
  color:white;
  background-color: var(--orange);
}

/* grid */
.grid-columns {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.grid-rows {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
}

.grid-gap-2rem {
  grid-gap: 2rem;
}

.grid-center {
  justify-self: center;
}

.grid-end {
  justify-self: flex-end;
}

/* navbar */
.header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header {
  margin: 2rem 0;
  padding-bottom: 4rem;
}

.logo {
  width: 10rem;
}

.text {
  font-size: 11pt;
  font-family: var(--headline), Arial, sans-serif;
  letter-spacing: 1px;
}

.menu-icon {
  width: 20px;
  margin-right: 20px;
}

#dropdown {
  position: absolute;
  border-radius: var(--borderradius);
  right: 0;
  margin-top: 1rem;
  padding: 2rem;
  background-color: var(--lightgrey);
  display: none;
}

#dropdown.active {
  display: grid;
}

/* alerts */

.error {
  border: 1px solid var(--orange);
  background-color: var(--orange-20pct);
  padding: 2rem;
}

.alert {
  border: 1px solid var(--yellow);
  background-color: var(--yellow-20pct);
  padding: 2rem;
}
