.results-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 2rem;

}

.results-container2{
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 2rem;
}

.alert2{
  font-family: var(--headline), sans-serif, Arial;
  font-weight: var(--regular);
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: var(--black);
  letter-spacing: 0em;
  line-height: 1em;
  margin-bottom: 2rem;
}

.card {
  /* border: 1px solid var(--grey); */
  border-radius: 12px;
  display: grid;
  background-color: var(--white);
  padding: 1rem;
  border: 1px solid var(--grey);
  width: 100%;
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  padding-bottom: 2rem;
}

.cardmargin{
  margin-bottom:1rem;
}

.finding{
  font-family: var(--headline), sans-serif, Arial;
  font-weight: var(--bold);
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  margin: 0;
  color: var(--black);
  letter-spacing: -0.02em;
  line-height: 1em;
  margin-bottom: 2rem;
}

.pagenavigation{
  background-color: white;
}

#pagebuttons{
  display: grid;
  grid-template-columns: auto auto;
  margin-right:70%;
  margin-bottom: 10%;
}

@media only screen and (max-width: 768px) {
  #pagebuttons{
    display: grid;
    grid-template-columns: auto auto;
    margin:0%;
  }
  .results-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 2rem;

  }

}

#nextpage{
  margin-left:1em;
}

#previouspage{
  margin-right:1em;
}

button{
  background-color:white;
  font-family: var(--headline), sans-serif, Arial;

}




/* dish things*/
#titlebutton{
  margin-bottom:2rem;

}

.cusine{
  font-family: var(--headline), sans-serif, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  margin: 0;
  color: #D6D6D6;
  letter-spacing: -0.02em;
  line-height: 1em;
  margin-bottom:0.5em;
}

#detailbox{
  margin-top:2rem;
  margin-bottom:2rem;
  padding:2rem;
  background-color:white;
  border: var(--grey) 1px solid;
  border-radius: 10px;
  margin-left:10%;
}

.orange{
  background-color:#ff5800;
}
.orangetext{
  color:#ff5800;
}

white{
  color:white;
}

.detailheader{
  font-family: var(--headline), sans-serif, Arial;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  margin: 0;
  color: black;
  letter-spacing: 0em;
  line-height: 1em;
  margin-top:2rem;
}
.detailp{
  font-family: var(--headline), sans-serif, Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  letter-spacing: 0em;
  line-height: 1.5em;
}

.headline_img{
  margin-top:2rem;
  width:100%;
  max-height: 800px;
  object-fit: contain;
}

#maincontainer{
  display:grid;
  grid-template-columns: 50% 50%;
}

/* november 8 */

:root {
  --transparent: #fff0;
  --yellow: #fed330;
  --yellow-20pct: #fed33033;
  --hover-grey: #999999;
  --orange: #ff5800;
  --orange-20pct: #ff580033;

  /* light mode styles */
  --black: #000;
  --white: #fff;
  --lightgrey: #f6f6f6;
  --grey: #e7e7e7;
  --link: #0066cc;

  /* fonts */
  --headline: "Helvetica";
  --bodycopy: "Helvetica";
  --bold: 800;
  --regular: 400;

  /* other */
  --borderradius: 0.6rem;
}